body{
    background: silver;
    
}
.jumbotron{
    height: 30%;
}
button{
    background: gold;
    font-family: arial;
}
h1{
    text-align: center;
}
h5 {
    font-family: cursive;
    font-size: 5%;
}

carousel{
    background: #2f4357;
    margin-top: 20px;
}
.carousel .item{
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bs-example{
	margin: 20px;
}